.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.location {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  padding-left: 4%;
}

<<<<<<< HEAD
.form {
  height: 30%;
  display: flex;
  flex-direction: row;
  margin: 3px 0 5px;
=======
.forms {
  justify-content: space-around;
}

.form {
  padding: 1%;
  height: 30%;
  display: flex;
  flex-direction: row;
  margin: 2px 0 2px;
  max-width: 70%;
>>>>>>> 6682b2484fa720f6be50d26f0711f875dcd6a13f
}

input {
  border: 1px solid #ccc;
<<<<<<< HEAD
  color: black;
  border-radius: 4px;
  width: 90%;
  padding: 0%;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin-right: 7px;
}

button {
  display: flex;
  align-items: center;
  text-align: center;
  background-color: #1f5d2f;
  color: #AEC4B8;
  border: none;
  cursor: pointer;
  border-radius: 20px;
  padding: 0px;
  justify-self: center;
}

button:focus {
  outline: 0;
}

.time-input {
=======
  border-radius: 4px;
  max-height: 20px;
  width: 90%;
  padding: 0%;
}

button {
  height: 85%;
  display: flex;
  align-items: center;
  text-align: center;
  background-color: #044D29;
  color: #AEC4B8;
  border: none;
  cursor: pointer;
  margin-right: 2px;
  margin-left: 5px;
  border-radius: 5px;
  /* box-shadow: 1px 1px 10px 0.5px #044D29; */
}

.time_input {
>>>>>>> 6682b2484fa720f6be50d26f0711f875dcd6a13f
  text-align: center;
}

.gps {
  border-radius: 50px;
<<<<<<< HEAD
  height: 70%;
  width: 90%;
  align-self: center;
}

.gps-image {
  width: 30px;
}

.update {
  width: 20px;
  opacity: 0.6;
  align-self: center;
  justify-self: center;
  margin: 2px;
  margin-right: 2.5px;
=======
  height: 80%;
  margin-right: 5px;
  align-self: center;
>>>>>>> 6682b2484fa720f6be50d26f0711f875dcd6a13f
}

.coord {
  text-align: center;
  width: fit-content;
  padding: 5px;
  height: 40px;
  border-radius: 40px;
}