.App {
  text-align: center;
  display: grid;
  grid-template-columns: 3fr 1fr 3fr;
  grid-template-rows: 25vh 25vh;
  grid-template-areas: 
    "weatherNow weatherNow feat"
    "HistoricalData HistoricalData LocationInput";
}

.current {
  grid-area: weatherNow;
}

.feat {
  grid-area: feat;
}

.Co2 {
  width: 100%;
  grid-area: Co2;
}

.historical {
  width: 100%;
  grid-area: HistoricalData;
}

.location {
  grid-area: LocationInput;
}