.App {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 30% 70%;
  grid-template-areas: "locationInput locationInput weatherNow weatherNow " "historicalData historicalData historicalData Co2";
  background-color: #173042;
  color: white;
  border-radius: 40px;
  margin: 90px 350px;
  padding: 20px;
  min-height: 300px;
  min-width: 400px;
  max-width: 800px;
  box-shadow: 2px 2px 5px 1px;
}

.current {
  grid-area: weatherNow;
}

.feat {
  grid-area: feat;
}

.Co2 {
  width: 100%;
  height: 70%;
  align-self: flex-end;
  grid-area: Co2;
  padding-bottom: 10%;
}

.feat {
  width: 100%;
  grid-area: mlModel;
}

.historical {
  grid-area: historicalData;
}

.loader {
  margin-left: 50%;
  margin-top: 10%;
  justify-self: center;
  align-self: center;
  grid-area: historicalData;
}

.container {
  grid-area: locationInput;
  padding-left: 15%;
  display: flex;
  flex-direction: row;
}