#root {
  max-height: 200px;
}

.App {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 30% 70%;
  grid-template-areas: "weatherNow weatherNow weatherNow LocationInput" "HistoricalData HistoricalData HistoricalData Co2";
  /* background-color: rgba(0, 0, 0, 1);
  color: white; */
  border-radius: 25px;
  margin: 10px;
  padding: 20px;
  min-width: 400px;
  box-shadow: 2px 2px 5px 1px;
}

.current {
  grid-area: weatherNow;
}

.feat {
  grid-area: feat;
}

.Co2 {
  width: 100%;
  grid-area: Co2;
}

.historical {
  grid-area: HistoricalData;
}

.container {
  grid-area: LocationInput;
  margin-left: 5%;
  display: flex;
  flex-direction: row;
}